*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ================
    Common Style Start
================== */


/* ================
    Header part Start
================== */

/*		 Menu Style 
-----------------------------------------------------------------*/

/* ================
    Main part Start
================== */
/* ================
    Footer part Start
================== */

/*		        Style 
-----------------------------------------------------------------*/